/* Warna tema dan font utama */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fa;
    color: #333;
}

/* Selector ID: header */
#header-utama {
    background-color: #005b96;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Selector Class: navigasi */
.navigasi ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #03396c;
    overflow: hidden;
}

.navigasi li {
    float: left;
}

.navigasi a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: white;
}

.navigasi a:hover {
    background-color: #6497b1;
}

/* Konten utama */
main {
    padding: 20px;
}

section {
    margin-bottom: 25px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Footer */
footer {
    background-color: #011f4b;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.p_footer {
    color: yellow;
}
#par_footer {
    color: red;
}